<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="热搜,热搜榜,热点,热搜指数,热度,实时热点,Ytool"
      name="Keywords"
    />
    <meta
      name="description"
      content="本应用提供全网多平台的热搜榜单，帮助您轻松掌握新鲜事、简讯、热点和热度趋势。"
    />
    <link rel="shortcut icon" href="/favicon.svg" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <style>
      .board-content-enter-active,
      .board-content-leave-active {
        transition: all 1s;
      }
      .board-content-enter,
      .board-content-leave-to {
        opacity: 0;
        transform: translateY(30px);
      }
      .board-content-move {
        transition: transform 1s;
      }
    </style>
    <title>热搜指数 - 实时变化</title>
  </head>
  <body>
    <div class="container">
      <div id="chart" class="chart">加载中</div>
      <div class="board">
        <board-container
          v-for="item in hotBoardData"
          :info="item"
          :key="item.id"
        ></board-container>
      </div>
      <footer>
        <a href="https://beian.miit.gov.cn/#/Integrated/index" class="icp"
          >粤ICP备2021090761-2号</a
        >
        <p class="copyright">Copyright© 2023 Ytool.CN. All Rights Reserved.</p>
      </footer>
    </div>
    <script>
      var allData = {$data|raw};
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/4.8.0/echarts.min.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
